.menu {
  display: flex;
  flex-direction: row-reverse;
}

.menu li a:hover {
  color: rgb(240, 170, 123);
}

body {
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: row;
  flex: auto;
}

article {
    flex: 2;
    overflow-y: auto;
    background: #7fc2fd;
}

aside {
    flex: 1;
    overflow-y: auto;
    background: rgb(240, 240, 217);
}

aside p {
	border: 2px dashed #c5bff8;
	background: #88f0e9;
	color: black;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 5em;
}

th, td {
  padding: 12px;
  text-align: center;
  border: 2px dashed #c5bff8;
}

thead {
  background-color: #88f0e9;
}

tbody tr:nth-child(even) {
  background-color: #f6d8f3;
}

tbody tr:nth-child(odd) {
  background-color: rgb(240, 240, 217);
}

tbody tr:hover {
  background-color: #a4ffca;
}

footer p,
footer p a{
  font-style: italic;
  font-weight: bold;
  color: rgb(10, 99, 252);
}

footer p a:hover {
  color: rgb(240, 170, 123);
}
